[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
	ignore = dirty
[submodule "bundle/bufexplorer"]
	path = bundle/bufexplorer
	url = https://github.com/markabe/bufexplorer.git
	ignore = dirty
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
	ignore = dirty
[submodule "bundle/snipmate.vim"]
	path = bundle/snipmate.vim
	url = git://github.com/msanders/snipmate.vim.git
	ignore = dirty
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = git://github.com/godlygeek/tabular.git
	ignore = dirty
[submodule "bundle/vim-cucumber"]
	path = bundle/vim-cucumber
	url = git://github.com/tpope/vim-cucumber.git
	ignore = dirty
[submodule "bundle/vim-endwise"]
	path = bundle/vim-endwise
	url = git://github.com/tpope/vim-endwise.git
	ignore = dirty
[submodule "bundle/vim-rails"]
	path = bundle/vim-rails
	url = git://github.com/tpope/vim-rails.git
	ignore = dirty
[submodule "bundle/vim-rooter"]
	path = bundle/vim-rooter
	url = git://github.com/airblade/vim-rooter.git
	ignore = dirty
[submodule "bundle/vim-rubyblue/colors"]
	path = bundle/vim-rubyblue/colors
	url = git://github.com/jlong/rubyblue.git
	ignore = dirty
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
	ignore = dirty
[submodule "bundle/vim-vividchalk"]
	path = bundle/vim-vividchalk
	url = git://github.com/tpope/vim-vividchalk.git
	ignore = dirty
[submodule "bundle/vim-ragtag"]
	path = bundle/vim-ragtag
	url = git://github.com/tpope/vim-ragtag.git
	ignore = dirty
[submodule "bundle/vim-pasta"]
	path = bundle/vim-pasta
	url = git://github.com/sickill/vim-pasta.git
	ignore = dirty
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git://github.com/wincent/Command-T.git
[submodule "bundle/vim-tcomment"]
	path = bundle/vim-tcomment
	url = git://github.com/tomtom/tcomment_vim.git
[submodule "bundle/vim-powerline"]
	path = bundle/vim-powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule "bundle/tslime.vim"]
	path = bundle/tslime.vim
	url = https://github.com/kikijump/tslime.vim.git
[submodule "bundle/vim-tslime/plugin"]
	path = bundle/vim-tslime/plugin
	url = https://github.com/kikijump/tslime.vim.git
